<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <%- include("../includes/navigation.ejs", ) %>
    <div class="settings">
        <ul>
            <li><a href="/settings/email">Change Email</a></li>
            <li><a href="/settings/password">Change Password</a></li>
            <li><a href="/settings/delete-account">Delete Account</a></li>
        </ul>
    </div>

    <%- include("../includes/footer.ejs") %>