<% if (!user) { %>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/login">Login</a></li>
</ul>
<% } else { %>
<ul>
    <li><a href="/posts">Posts</a> </li>
    <li><a href="/myposts">My Posts</a> </li>
    <li><a href="/create">Create</a></li>
    <li>
        <a id="logout" href="/logout">Logout</a>
    </li>
</ul>
<% } %>