button {
    margin-top: 20px;
    border-radius: 10px;
    background: #8bd17d;
    color: black;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(85, 82, 82);
}

.create-post {
    text-align: center;
}

.create-post textarea {
    width: 300px;
    height: 20px;
    border-radius: 3px;
    border-color: #8bd17d;
}

.create-post textarea:focus {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(85, 82, 82);
}

.create-post label {
    text-align: center;
    color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 800px;
}

.grid {
    display: inline-flex;
  }
  
  .grid div {
    margin: 0 30px;
  }
  
  .grid .post {
    border: 4px dashed #207420;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    width: 300px;
    word-wrap: break-word;
    height: 250px;
    box-shadow: 4px 4px 4px 8px rgba(0, 0, 0, 0.26);
  }
  
  .grid .post h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #608658;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    margin: 3px 0;
  }
  
  .grid .post p {
    font-family: Arial, Helvetica, sans-serif;
    color: #417c35;
    margin-top: 50px;
    font-size: 15px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }
  
  .grid .post a {
    display: inline-block;
    border-radius: 3px;
    background: #8bd17d;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 0 5px;
    text-decoration: none;
  }
  
.post-detail {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #417c35;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.post-detail h1 {
    padding-top: 50px;
}

.post-detail h2 {
    padding-top: 90px;
}

.post-detail p {
    padding-top: 80px;
}

.edit-post {
    text-align: center;
}

.edit-post textarea {
    width: 300px;
    height: 20px;
    border-radius: 3px;
    border-color: #8bd17d;
}

.edit-post textarea:focus {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(85, 82, 82);
}

.edit-post label {
    color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    border: 10px;
    position: relative;
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 380px;
}

.post-detail a {
    display: inline-block;
    border-radius: 3px;
    padding: 0 5px;
    background: #8bd17d;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
    margin: 110px;
}

.no-post {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
    color: #417c35;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.deleted-post {
    text-align: center;
}

.deleted-post h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
    color: #417c35;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.settings {
    text-align: center;
}

.settings ul li {
    margin: 200px 30px;
}

.settings ul li a {
    background: #164d2f;
}

.settings ul li a:hover {
    color: #6e8310dc;
}

.change-email {
    text-align: center;
}

.change-email input {
    border-radius: 5px;
    background-color: #8bd17d;
    outline: 0;
    display: block;
    margin-left: 40%;
    height: 15px;
    padding: 5px 50px;

}

.change-email input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(85, 82, 82);
}

.change-email label {
    color: lightgreen;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    ;
    margin-left: 40%;
}

.changed-email {
    text-align: center;
}

.changed-email h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
    color: #417c35;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.change-password {
    text-align: center;
}

.change-password input {
    border-radius: 5px;
    background-color: #8bd17d;
    outline: 0;
    display: block;
    margin-left: 40%;
    height: 15px;
    padding: 5px 50px;

}

.change-password input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(85, 82, 82);
}

.change-password label {
    color: lightgreen;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    margin-left: 40%;
}

.changed-password {
    text-align: center;
}

.changed-password h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
    color: #417c35;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.delete-account {
    text-align: center;
}

.delete-account input {
    border-radius: 5px;
    background-color: #8bd17d;
    outline: 0;
    display: block;
    margin-left: 40%;
    height: 15px;
    padding: 5px 50px;

}

.delete-account input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(85, 82, 82);
}

.delete-account label {
    color: lightgreen;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    ;
    margin-left: 40%;
}

.deleted-account {
    text-align: center;
}

.deleted-account h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
    color: #417c35;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.create-comment {
    text-align: center;
}

.create-comment textarea {
    border-radius: 5px;
    background-color: #8bd17d;
    outline: 0;
    display: block;
    margin-left: 40%;
    height: 15px;
    padding: 5px 50px;
}

.create-comment label {
    color: lightgreen;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    margin-left: 40%;
}

.create-comment button {
    margin-right: 40px;
}

.comment p,
.comment h1 {
        display: inline;
        font-family: 'Open Sans', sans-serif;
        line-height: 28px;
        color: #417c35;
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
        padding: 0px 200px;
    }

.comment {
    padding: 30px;
}


.comment label {
    margin-left: 205px;
    color: #8bd37c;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.comment a:hover {
    color: rgb(46, 137, 165);
}

.comment a {
    color: black;
    float: right;
}

.deleted-comment {
    text-align: center;
}

.deleted-comment h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
    color: #417c35;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

#commentLabel {
    font-family: Arial, Helvetica, sans-serif;
    color: #8bd37c;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    text-align: center;
}

#context {
    height: 50px;
    padding-bottom: 70px;
}

#postAuthor {
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #8bd37c;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}