ul {
    text-align: center;
}

ul li {
    padding: 3% 7%;
    display: inline-block;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}