body {
    background-color: #2e4600;
}

ul {
    text-align: center;
}

ul li {
    padding: 3% 7%;
    display: inline-block;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #486b00;
    border-radius: 5px
}

ul li a:hover {
    color: lightgreen;
    background-color: #387a4c6c;
    border-radius: 5px;
}

.user-message-error {
    border-color: red;
    background: rgb(255, 176, 176);
    padding: 0.5rem;
    color: red;
    width: 90%;
    margin: auto;
    border-radius: 3px;
    text-align: center;
}

#logout {
    background-color: #bee772;
    color: #496810;
    margin-left: 100px;
    font-size: 13px;
}

#logout:hover {
background-color: #35d835;
}