body {
    background-color: #2e4600;
}


ul li {
    padding: 3% 7%;
    display: inline-flex;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #486b00;
    border-radius: 5px;
    padding: 0 5px;
}

ul li a:hover {
    color: lightgreen;
    background-color: #387a4c6c;
    border-radius: 5px;
}

.user-message-error {
    border-color: red;
    background: rgb(255, 176, 176);
    padding: 0.5rem;
    color: red;
    width: 90%;
    margin: auto;
    border-radius: 3px;
    text-align: center;
}

#logout {
    background-color: #bee772;
    color: #496810;
    margin-left: 100px;
    font-size: 13px;
    padding: 0 3px;
}

#logout:hover {
    background-color: #35d835;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}